{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
{{/section}}


<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="section-title">
                <h3 class="title">Tạo tài khoản mới</h3>
            </div>
            <form novalidate class="billing-details" method="POST" id="registerForm">

                <div class="form-group">
                    <input class="input" type="text" name="username" placeholder="tên đăng nhập">
                </div>
                <div class="form-group">
                    <input class="input" id="password" type="password" name="password" placeholder="mật khẩu">
                </div>
                <div class="form-group">
                    <input class="input" oninput="check(this)" type="password" placeholder="nhập lại mật khẩu">
                </div>
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password chưa chính xác!!!');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script>
                <div class="form-group">
                    <input class="input" type="text" name="fullname" placeholder="Nhập Họ và tên lót">
                </div>
                <div class="form-group">
                    <input class="input" type="email" name="email" placeholder="Thư điện tử">
                </div>
                <div class="form-group">
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms" required>
                        <label for="terms">
                            <span></span>
                            Tôi đã đọc và đồng ý <a href="#">các điều khoản và chính sách</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="primary-btn order-submit" type="submit">Tiếp Tục</button>
                </div>
            </form>
        </div>
    </div>
</div>